<div class="explore">
<input [(ngModel)]="search" id="search" type="text" name="title" placeholder="Enter job title/description" >

</div>

  <div class="card" *ngFor="let jobs of allJobs | filter : search ">
    <div class="card-header">
      {{jobs.JobTitle}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{jobs.Company}}</h5>
      <div class="card-text">
        <p>Job Roles/Responsibilities: {{jobs.JobDesc}}</p>
        <span>Experience required : {{jobs.Experience}}</span>
        <p>Experience required : {{jobs.PostedBy}}</p>
        <p>Category : {{jobs.Category}}</p>
        <p>Location : {{jobs.Location}}</p>
      </div>
      <a href="#" class="btn btn-primary">Apply Now</a>
    </div>
  </div>

