<div class="materials">
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">W3 Schools</h5>
        <p class="card-text">It is used for studying the Front End and Data Base Related technologies </p>
        <a href="https://www.w3schools.com" class="btn btn-primary">Go to W3Schools</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Udemy</h5>
        <p class="card-text">It is used to gain knowledge on different type of the courses related to different fields</p>
        <a href="https://www.udemy.com/" class="btn btn-primary">Go to Udemy</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Medium</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://medium.com/" class="btn btn-primary">Go to Medium</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cloud Academy</h5>
        <p class="card-text">It is a platform were you can also post about any technologies or information regarding the same.</p>
        <a href="https://cloudacademy.com/" class="btn btn-primary">Go t Cloud academy</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Skillenza</h5>
        <p class="card-text">It is a platform which not is for learnig different technologies but here you can also participate in various challenges</p>
        <a href="https://skillenza.com/" class="btn btn-primary">Go to Skillenza</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Javat Point</h5>
        <p class="card-text">It provides tutorials and interview questions of all technology like java tutorial, android, java frameworks</p>
        <a href="https://www.javatpoint.com/" class="btn btn-primary">Go to Javatpoint</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Free Code camp</h5>
        <p class="card-text">It is a platform were you can also post about any technologies or information regarding the same.</p>
        <a href="https://freecodecamp.org/" class="btn btn-primary">Go to Free Code camp</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Udacity</h5>
        <p class="card-text">It is a platform which not is for learnig different technologies but here you can also participate in various challenges</p>
        <a href="https://udacity.com" class="btn btn-primary">Go Udacity</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tutorials Teacher</h5>
        <p class="card-text">It provides tutorials and interview questions of all technology like java tutorial, android, java frameworks</p>
        <a href="https://tutorialsteacher.com/" class="btn btn-primary">Go to Tutorial teacher</a>
      </div>
    </div>
  </div>
</div>
</div>