<div class="Navbarsetup">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Contender</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="Home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Explore"><i class="fa fa-search fa-fw" aria-hidden="true"></i>Explore</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/Materials"><i class="fa fa-book fa-fw" aria-hidden="true"></i>Materials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="TakeTest"><i class="fa fa-check fa-fw" aria-hidden="true"></i>Take test</a>
  </li>
  </ul>
</div>
   <div class="navbar navbar-nav navbar-right">
      <!--Right nav bar-->
      <!-- <li class="nav-item" style="float: right !important;">
        <a class="nav-link" href="#about"><i class="fa fa-user fa-fw" aria-hidden="true"></i>About us</a>
      </li> -->
      </div>   
      
</nav>
      </div>
