    <!--First header-->
<div id="Home" class="container-fluid bg-1 text-center">
  <h1 class="margin">TechBuzz Portal</h1>
  <h3 class="margin1">One stop, to find the right opportunity</h3>
  </div>
<!--Closed firstheader-->
<!--Write us section-->
<div id="contact" class="writeUs">
    <br>
    <h2 class="text-center" style="margin-top: 10px;">Write Us!</h2><br><br>
    <div class="row">
    <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><i class="fa fa-map-marker"></i> Indore, India</p>
        <p><i class="fa fa-phone"></i> +91 XXXXXXXXX</p>
        <p><i class="fa fa-envelope"></i> sample@sample.com</p>
    </div>

<div class="col-sm-7 ">
  <div class="row">
    <div class="col-sm-6 form-group">
      <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
    </div>
    <div class="col-sm-6 form-group">
      <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
    </div>
  </div>
  <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
  <div class="row">
    <div class="col-sm-12 form-group">
      <button class="btn btn-default pull-right" type="submit"><i class="fa fa-send"></i></button>
    </div>
  </div>
    </div>
    </div>
</div>
<!--End write us section-->

<!--About us section-->
<hr>
<div id="about" class="aboutUs text-center">
 <h3>About us</h3>
<p><em>An open source project which helps people get their desired data to test their front end apps by sample data. </em></p>
<p><em> We are a team which builds regular REST API so that people working for tech or are looking forward to work in tech, dont need to worry about the data. They can directly access the API with their desired categories and test their application.</em></p>
<p><em>The Api created are using .NET framework, C# and SQL server with MVC architecture. Easy access and large data in order to work on front end.</em></p>

    <h6>Follow us on :</h6>
    <div class="socialMedia" style="margin-top: 30px;">
    <button class="social btn btn-default"><i class="fa fa-facebook-square"></i></button>
    <button class="social btn btn-default"><i class="fa fa-linkedin-square"></i></button>
    <button class="social btn btn-default"><i class="fa fa-git"></i></button>
    <button class="social btn btn-default"><i class="fa fa-instagram"></i></button>
    </div>
</div>  
<!--End of About us section-->